  @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


  * {
      padding: 0px;
      margin: 0px;
  }

  #page {
      display: flex;
      flex-direction: column;
      height: 100vh;

  }

  .mainHome {
      display: flex;
      justify-content: space-around;
      height: 100vh;

      padding: 20px;
      padding-top: 50px;

      background-color: #FFEE53;
      font-family: 'DM Sans', sans-serif;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.897) inset;

  }

  .mainHome h1 {
      width: 60%;
      color: #290047;
      font-size: 64px;
      text-transform: uppercase;
  }

  .mainHome p {
      margin-top: 20px;

      width: 60%;
      font-weight: 700;
  }

  .mainHome button {
      width: 300px;
      height: 70px;
      margin-top: 40px;
      margin-right: 30px;
      padding: 8px;

      background-color: #290047;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 28px;

      border-radius: 40px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  }

  .mainHome img {
      width: 600px;
      max-width: 100%;
  }

  #lines {
      margin-top: 150px;
      margin-left: -100px;
      width: 100%;
  }