@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@100&display=swap');

#pageSobre {
    background-color: #121212;
    height: 100vh;
}

.headerSobre h1 {
    text-transform: uppercase;
    margin-top: 60px;
    margin-left: 60px;
    font-family: 'Montserrat';
    color: white;
    font-weight: 600;

}

.headerSobre h1 span {
    color: #FFD700;
    font-family: 'Montserrat';
}

.mainSobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    font-weight: 600;

}

.mainSobre article h2 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;


    color: #210038;
    background: none;
    font-size: 36px;
    letter-spacing: 5px;

}

.mainSobre article p {

    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;


    color: #210038;
    background: none;
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.mainSobre article ul li {
    display: flex;
    justify-content: center;
    padding-top: 10px;

    background: #FFF6A8;
    font-size: 18px;
    color: #210038;
    font-family: 'Montserrat', sans-serif;

}

.block {
    width: 360px;
    height: 340px;

    background: #FFF6A8;
    margin: 20px;
    margin-top: 50px;
    border-radius: 29px 29px 0px 0px;

}